.page-case-detail{
  .field-item{
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;

    >div:first-child{
      >label{
        display: block;
      }
      width: 40em;
    }

    .tips{
      background-color: #efefef;
      color: deepskyblue;
      padding: 4px 1em;
      border-radius: 4px;
      width: 20em;
      margin-top: 1em;

    }
  }

  .actions {
    text-align: right;
    button {
      margin-right: 1em;
      &:last-child{
        margin-right: 0;
      }
    }
  }


}